<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f5f5f5;
        }

        h2 {
            color: blue;
        }

        h3 {
            color: green;
        }

        h4 {
            color: orange;
        }

        h5 {
            color: purple;
        }

        h6 {
            color: red;
        }
    </style>